
*{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


li {
  list-style: none;
  margin-top: 25px;
 
}

.upper{

  display: flex;
  flex-direction: row;
  justify-content: center;
 
}


.logo {
  
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 95%;
  cursor: pointer;
  margin-top: 10px;
  
  
}
.nav_links a {
  text-decoration: none;
  font-weight:lighter;
  color: rgb(255, 255, 255);
  font-size: 1em;
  

}

nav{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: end; */
  position: absolute;
  top: 0px;

}


.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  /* transition: .3s; */
  /* flex-direction: row; 
  justify-items: end; */
}

.nav_links li a {
  /* display: inline-block; */
  transition: .3s;

}


.nav_links li a:hover {
  color: rgb(35, 167, 249);

}

header {
  display: flex;
  justify-content: end;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-image: url(liftUpdated.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  /* background-color: rgb(0, 0, 0); */
  /* height: 100vh; */
  width: 100%;
  height: 100vh;
  height: 100dvh;
}


/* button {
  margin-right: 20px;
  padding: 9px 25px;
  border: none;
  background-color:  rgb(0, 128, 128,);
  border-radius: 4px;
  font-size: large;
  transition: .3s;
  font-weight: bold;
} */


/* button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 128, 128, 0.9);
} */

#head_text {
  color: rgb(1, 175, 255);
  font-weight: lighter;
  position: absolute;
  z-index: 10;
  top: 100px;
  text-align: center;
  /* font-family: Gotham Black; */
  font-size: 60px;
  /* font-weight: 500; */
  line-height: 79px;
  letter-spacing: -0.015em;
  position: absolute;
  top: 300px;
  /* backdrop-filter: 600px;
  back */
}


#head_sub {
  margin-bottom: 30px;
  margin-top: 30px;
  /* z-index: 10; */
  color: rgb(123, 124, 125);
  text-align: center; 
  
  font-size: 1em;
  position: absolute;
  z-index: 10;
  top: 348px;
  /* text-align: center; */
} 

/* end of header */


:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100%;
  background-color: #ffffff;
  background-image: url(bg.png);
  /* display:flex;
  flex-direction: column; */
  /* background-repeat: no-repeat;
  background-image: cover; */

}

model-viewer {
  width: 660px;
  height: 660px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;
  
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

.ar-button:active {
  background-color: #E8EAED;
}

.ar-button:focus {
  outline: none;
}

.ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > .ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > .ar-prompt {
  display: block;
}

model-viewer > .ar-prompt > img {
  animation: circle 4s linear infinite;
}

.card-digestive{
  /* position: absolute; */
  /* bottom:60px; */
  /* left:340px; */
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
  /* margin-top: 345px; */
}

#digest{
  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
  
}

.main{
 margin: 70px;
 display: flex;
 column-gap: 50px;
}


.burst{
  position: absolute;
  bottom:60px;
  left:560px;
  top:10px;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;

  /* box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6); */
  /* border: 1px solid rgba(255, 255, 255, 0.9); */
  border-color: #ffffff;
  background-color: whitesmoke;
  /* margin-bottom: 290px; */
  /* z-index: 1; */
}

.quiz{
  position: absolute;
  bottom:60px;
  left:600px;
  top:10px;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  /* box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6); */
  /* border: 1px solid rgba(255, 255, 255, 0.9); */
  border-color: #ffffff;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;
  


  /* margin-bottom: 290px; */
  /* z-index: 1; */
}



/* Animal cell */
#animalcell{

  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
}

.card-animalcell{
/* position: absolute; */
  /* bottom:60px; */
  /* left:340px; */
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
  /* margin-top: 345px; */

}



/* plant cell */

.card-plant{
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
}

#plant{
  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
  
}


/* human heart and renal system*/


.sub{
  margin: 70px;
  display: flex;
  column-gap: 30px;
  
  

 }



.card-heart{
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
}

#Heart{
  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
}

/* Human brain */
.card-Brain{
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
}

#brain{
  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
}


/* Renal system*/


.sub-sub{
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  display: flex;
  column-gap: 50px;
  position: absolute;
  top:2300px;

 }

 .card-renal{
  height: 20px;
  width:100%;
  background-color: #4285f4;
  padding-top: 40px;
}

#renal{
  position: absolute;
  top: 0;
  /* text-align: center; */
  color: #fff;
  left:10px;
}


/* Footer */


<!doctype html>
<html lang="en">

<head>
    <title>&lt;AR Project&gt; template</title>
    <meta charset="utf-8">
    <meta name="description" content="&lt;model-viewer&gt; template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="./styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <!-- <img class="logo" src="images/icon.png" alt="logo"> -->
        <img class="logo" src="MeyRAR_union Transparent.png" alt="logo">
        <nav>
            <!-- <img class="logo" src="images/icon.png" alt="logo"> -->
            <ul class="nav_links">
                
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">BLOG</a></li>
                        <li><a href="">CONTACT</a></li>
            </ul>
    
    
    
        </nav>
    
    
    </header>
    <!-- nav and header  end-->
    
    <!-- <div class="container"> -->
    
        <!-- upper  start-->
    
        <div class="upper">
            <!-- <div class="bg-image"></div> -->
            <h3 id="head_text">Reimaging Reality</h3>
    
            <p id="head_sub">
                
                We're excited to take you on a spatial adventure as we unveil the some 3D models you absolutely must play with. <br>
                Let your imaginations be your guide, and let's embark on a brain expedition through these extraordinary 3D models.

                
            </p>
    
            <!-- <div class="up_btn"> -->
                <!-- <button id="head_btn">See the location</button> -->
                <!-- <button id="head_btn2"
                    style="background-color: black; color: aliceblue; border:1px solid gold; width: 150px; height: 80px;">Read
                    more</button> -->
            <!-- </div> -->
            <!-- <img class="background" src="images/logo.png" alt="logo"> -->
        </div>



    <!-- <model-viewer> HTML element -->

    <!-- start of digestive-system -->
    <div class="main">
        <model-viewer src="digestive-system.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="poster.png" shadow-intensity="1" auto-rotate>


            <button class="Hotspot" slot="hotspot-1"
                data-position="2.941658979023352m 33.50248680029137m 4.921674367145561m"
                data-normal="0.11862723833946431m 0.10129995817038975m 0.9877580153046743m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">stomach</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="-1.4436993637075823m 59.915624051100835m -1.2179224384014962m"
                data-normal="0.2443792040986439m 0.6452813868131019m 0.7238029679661955m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Esophagus</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="-8.057621888196833m 38.628438626449054m 4.050372548618888m"
                data-normal="-0.4900915314343912m 0.0762970332824553m 0.8683254306586841m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Liver</div>
            </button><button class="Hotspot" slot="hotspot-4"
                data-position="4.322118458508228m 29.55170628285361m -18.313500165119677m"
                data-normal="-0.000004021220525171327m -0.30128945072835683m -0.953532729833452m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Pancreas</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="2.072805389891646m 19.647694959285065m 4.864110139937608m"
                data-normal="0.09536126330754056m -0.0647469148127804m 0.9933348209353261m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Small Intestine</div>
            </button><button class="Hotspot" slot="hotspot-6"
                data-position="6.53102052671294m 11.743019590465757m 1.853199812579085m"
                data-normal="0.2764768951640277m -0.1599608967057317m 0.947614393076402m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Large Intestine</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
            <div class="card-digestive">
                <h1 id="digest">Digestive System</h1>
                <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                        target="_blank">Burst</a></button>
                <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                        target="_blank">Quiz</a></button>

                <button slot="ar-button" class="ar-button">
                    View in your space
                </button>
            </div>

                <div class="ar-prompt">
                    <img src="ar_hand_prompt.png" alt="hand">
                </div>
            <!-- </div> -->


        </model-viewer>

        <!-- End of digestive system -->



        <!-- Start of plant cell -->
        <model-viewer src="plant cell.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="posterPlantCell.png" shadow-intensity="1" auto-rotate>
            <button class="Hotspot" slot="hotspot-1"
                data-position="0.12353066601947701m -0.13290132471204608m 0.2975559833787951m"
                data-normal="-0.4442781248767603m -0.7165963353438523m 0.5376863769222271m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Cell Wall</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="0.07074776810660502m 0.12961624102490493m 0.21485679542361186m"
                data-normal="0.09759418699402242m -0.10265385177733077m 0.9899179568935266m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Nuclear Pore</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="-0.14763671290405406m 0.03484668243518145m 0.23107840240838562m"
                data-normal="8.314458697658281e-8m 0.6004854802263329m 0.7996356595583665m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Cell Membrane</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="0.0421564293551782m -0.09473933218461109m 0.32395632264868857m"
                data-normal="-0.0021700668679296353m 0.605088524206812m 0.7961552415722772m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Cytoplasm</div>
            </button><button class="Hotspot" slot="hotspot-6"
                data-position="0.09715590578934981m -0.05428830766782747m 0.29587598415140864m"
                data-normal="0.0090824895763053m 0.5775957035774367m 0.8162724493647832m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Mitochondrion</div>
            </button><button class="Hotspot" slot="hotspot-7"
                data-position="0.041461375042701004m 0.07364571004471657m 0.22615848470780942m"
                data-normal="0.27270887833179147m -0.6462345887271962m 0.7127487102840719m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Nucleolus</div>
            </button><button class="Hotspot" slot="hotspot-8"
                data-position="0.027112707899176157m 0.12414082637824309m 0.25417544353706206m"
                data-normal="-0.15148732500203063m 0.6383855877808327m 0.7546624620831821m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Nucleus</div>
            </button><button class="Hotspot" slot="hotspot-9"
                data-position="-0.06968524720541733m 0.006511041804247303m 0.2558749111873698m"
                data-normal="0.00856875215192389m 0.6051946796143398m 0.7960313914997673m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Chloroplast</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
            <div class="card-plant">
                <h1 id="plant">Plant Cell</h1>
                <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                        target="_blank">Burst</a></button>

                <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                        target="_blank">Quiz</a></button>
                <button slot="ar-button" class="ar-button">
                    View in your space
                </button>
            </div>
                <div class="ar-prompt">
                    <img src="ar_hand_prompt.png" alt="hand">
                </div>

            <!-- </div> -->
    </div>
    </model-viewer>


    <!-- End of plant cell -->
    <!-- </div> -->


    <!-- Start of Animal cell-->


    <div class="sub">
        <model-viewer src="animalCell.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="posterAnimalCell.png" shadow-intensity="1" auto-rotate>
            <button class="Hotspot" slot="hotspot-1"
                data-position="0.18426741958436532m -0.04380493564151308m 0.45161592600381684m"
                data-normal="0.45704437613105614m 0.2595180887068726m 0.8507413237176771m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Mitochondrion</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="0.09473744666521587m -0.01814300203695743m 0.3411002048268321m"
                data-normal="0.9395015486349728m -0.25369821528695446m 0.23016093428881887m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Rough Endoplasmic Reticulum</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="0.015165166845286612m 0.08510976522849201m 0.3067915480913092m" data-normal="0m 0m 1m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Nucleolus</div>
            </button><button class="Hotspot" slot="hotspot-4"
                data-position="-0.002186661559951799m 0.018617591960104152m 0.3382637493083253m"
                data-normal="0m 0.5417288222340361m 0.8405533196418441m" data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Nucleus</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="0.09539257124364016m -0.04899908924646146m 0.5426380290032926m"
                data-normal="0.0011306902542728926m 0.9999979666220701m -0.0016698177369141366m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Cytoplasm</div>
            </button><button class="Hotspot" slot="hotspot-6"
                data-position="-0.20092082592935895m 0.006311120497326196m 0.2442966920188408m"
                data-normal="0.10451097128827838m 0.17905522469350885m 0.9782722951153926m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Vacoule</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>

                <div class="card-animalcell">
                    <h1 id="animalcell">Animal Cell</h1>
                    <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                            target="_blank">Burst</a></button>
                    <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                            target="_blank">Quiz</a></button>

                    <button slot="ar-button" class="ar-button">
                        View in your space
                    </button>
                </div>
                    <div class="ar-prompt">
                        <img src="ar_hand_prompt.png" alt="hand">
                    </div>

                <!-- </div> -->
        </model-viewer>
        <!-- End of Animal cell -->

        <!-- Start of Heart -->
    
        <!-- <model-viewer> HTML element -->
        <model-viewer src="heart.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="posterHumanHeart.png" shadow-intensity="1" auto-rotate>
            <button class="Hotspot" slot="hotspot-1"
                data-position="0.06038533093297151m 0.07164434703036282m 0.18677335484571186m"
                data-normal="0.5413122717596778m 0.46798459102177625m -0.6985495308197964m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Left Atrium</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="-0.11625615304811325m 0.05304445236387295m 0.2908723753009485m"
                data-normal="-0.8644669360774591m 0.5026047226854763m -0.009241707802457557m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Right Atrium</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="-0.017501466019433407m 0.17971354579637422m 0.3480682659803864m"
                data-normal="-0.5914487730288255m -0.5555475656329599m 0.584427284785703m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Superior Vena Cava</div>
            </button><button class="Hotspot" slot="hotspot-4"
                data-position="0.024713457854213514m 0.12771951371057966m 0.3447231457206682m"
                data-normal="-0.027849873786054285m 0.5510287211448054m 0.8340214223889103m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Aorta</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="-0.06713121797419679m -0.17144624734409075m 0.3433067871586904m"
                data-normal="-0.4882764100532847m -0.5551612883139352m 0.673336536468272m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Right Ventricle</div>
            </button><button class="Hotspot" slot="hotspot-6"
                data-position="0.0889368377868169m -0.15365219496946725m 0.2409424547881607m"
                data-normal="0.6073293112779311m -0.5166330811097883m -0.6035241231017042m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Left Ventricle</div>
            </button><button class="Hotspot" slot="hotspot-7"
                data-position="0.027259782911235805m -0.2503114258926831m 0.27082311235484346m"
                data-normal="0.2118617140346536m -0.8638460757447362m -0.45703891688423903m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Apex</div>
            </button><button class="Hotspot" slot="hotspot-8"
                data-position="0.09914722583346229m 0.10104781150743686m 0.3234206590557229m"
                data-normal="0.39555304309436606m 0.8024490011278009m 0.44678114406024483m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Pulmonary Trunk</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>

            <div class="card-heart">
                <h1 id="Heart">Human Heart</h1>
                <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                        target="_blank">Burst</a></button>

                <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                        target="_blank">Quiz</a></button>
                <button slot="ar-button" class="ar-button">
                    View in your space
                </button>
            </div>
                <div class="ar-prompt">
                    <img src="ar_hand_prompt.png" alt="hand">
                </div>

            <!-- </div> -->
        </div>

    </model-viewer>
    <!-- End of Heart -->

    <!-- Start of Brain -->
        <!-- <model-viewer> HTML element -->
    <div class="sub-sub">
        <model-viewer src="Brain.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="posterBrain.png" shadow-intensity="1" auto-rotate>
            <button class="Hotspot" slot="hotspot-1"
                data-position="-0.08719119659803382m 0.1406568017686187m 1.4117400223924506m"
                data-normal="-0.29249725339550936m 0.16472219141974534m 0.941972375608733m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Frontal Lobe</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="0.021156507751875386m -0.08094684745863948m 1.1408678811795594m"
                data-normal="-0.4640181043538724m -0.21801655900217567m 0.8585778816349102m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Brainstem</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="0.2335720136911663m -0.09634631786218026m 1.1075567096429098m"
                data-normal="0.8974121131496412m -0.22588246727161512m 0.37898365420105345m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Cerebellum</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="0.21076461744722397m 0.03837617962276495m 0.9177474306962377m"
                data-normal="0.22953910574849473m 0.14967040491527764m -0.9617227089055755m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Occipital Lobe</div>
            </button><button class="Hotspot" slot="hotspot-7"
                data-position="-0.17483369393792625m 0.008039650187786213m 1.0649349017809113m"
                data-normal="-0.9557525384375997m -0.2724178936221285m -0.11102061297149864m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Temporal Lobe</div>
            </button><button class="Hotspot" slot="hotspot-8"
                data-position="-0.19139706284166833m 0.17927993821699056m 1.1146168407693122m"
                data-normal="-0.769829104576504m 0.47566059740219874m -0.4255703770540448m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Motor Cortex</div>
            </button><button class="Hotspot" slot="hotspot-9"
                data-position="-0.09968032826414802m 0.20883183352402718m 0.9775674691083867m"
                data-normal="-0.6008783294422712m 0.5967488836643612m -0.531823281788231m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Parietal Lobe</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>

            <div class="card-Brain">
                <h1 id="brain">Human Brain</h1>
                <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                        target="_blank">Burst</a></button>
                <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                        target="_blank">Quiz</a></button>

                <button slot="ar-button" class="ar-button">
                    View in your space
                </button>
            </div>
                <div class="ar-prompt">
                    <img src="ar_hand_prompt.png" alt="hand">
                </div>
            <!-- </div> -->

        </model-viewer>
        <!-- End of Brain -->


        <!-- Start of Renal system-->

        <!-- <model-viewer> HTML element -->
        <model-viewer src="renal_system.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="posterRenal.png" shadow-intensity="1" auto-rotate>
            <button class="Hotspot" slot="hotspot-1"
                data-position="19.57142157002863m -80.91068948823288m 1.1350224587146727m"
                data-normal="0.7610922721445345m 0.37735751759624436m 0.527579242574488m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Bladder</div>
            </button><button class="Hotspot" slot="hotspot-2"
                data-position="-40.50874876435319m 5.65870754458642m 19.7691572065194m"
                data-normal="-0.7644610645839011m 0.39059694585397575m -0.5128677281958726m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">ureter</div>
            </button><button class="Hotspot" slot="hotspot-3"
                data-position="84.32568068429629m 124.94286126987323m -9.78486336554926m"
                data-normal="0.9801310618289061m -0.008819352540793815m 0.19815478964411243m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Kidney</div>
            </button><button class="Hotspot" slot="hotspot-4"
                data-position="51.75581644391798m 203.7878435335418m -16.711140537207825m"
                data-normal="0.3563760690594272m 0.6177722447565049m 0.700966155395722m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Adrenal Gland</div>
            </button><button class="Hotspot" slot="hotspot-5"
                data-position="-6.375173215919915m -125.09240334417302m 67.44078028528101m"
                data-normal="-0.3271000791635434m 0.8803424967444154m 0.3435151039430618m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Urethra</div>
            </button><button class="Hotspot" slot="hotspot-6"
                data-position="-12.272073502921614m 130.35609779435623m 38.527164008523414m"
                data-normal="-0.20521198953148467m -0.6449086225412864m 0.7361935261359138m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Renal Vein</div>
            </button><button class="Hotspot" slot="hotspot-7"
                data-position="6.650633696831736m 146.3420951122107m 28.204093707386622m"
                data-normal="0.4148179295446132m -0.08477218310836795m 0.9059468871293515m"
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Renal Artery</div>
            </button>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
            <div class="card-renal">
                <h1 id="renal">Renal System</h1>
                <button class="burst"><a href="https://shepherdd.com/web-stories/plant-and-animal-cell/"
                        target="_blank">Burst</a></button>

                <button class="quiz"><a href="https://qwizcards.net/u/genesis/shepherdd"
                        target="_blank">Quiz</a></button>

                <button slot="ar-button" class="ar-button">
                    View in your space
                </button>
            </div>
                <div class="ar-prompt">
                    <img src="ar_hand_prompt.png" alt="hand">
                </div>

          <!-- </div>   -->
    </div>
    </model-viewer>
    <!-- End of Renal system -->


    <footer>
        <img class="logo_footer" src="skapezEmpireLogo.png" alt="logo">
        <img class="logo_footer" src="MeyRAR_union Transparent.png" alt="logo">
        <ul class="ft_one">
            <li><a href="shepherdd.com">shepherdd</a></li>
            <li><a href="#">Communities</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookies notice</a></li>
        </ul>

        <ul class="ft_two">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Partners</a></li>
        </ul>

        <div class="extras">

            <div class="soc">


                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-linkedin"></ion-icon>


            </div>

            <p>&copy 2023 SkapezEmpire</p>

        </div>
    </footer>


    <script src="script.js"></script>
    <!-- Loads <model-viewer> for browsers: -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.2.0/model-viewer.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>

</html>footer {
  background-color: rgb(10, 113, 248);
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  padding-top: 30px;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  top:3000px;
  /* width: 100vdh; */
  


}




.ft_one {
  display: flex;
  flex-direction: column;

  row-gap: 5px;


}

.ft_two {
  display: flex;
  flex-direction: column;

  row-gap: 5px;

}

footer a {
  text-decoration: none;
  font-weight: lighter;
  color: rgb(255, 255, 255);

}



footer li a:hover {
  color: rgb(252, 236, 92);


}

footer li{
 list-style: none;
}


footer p {
  color: white;


}

.soc ion-icon {
  color: #ffffff;
  /* width: 25px;
  height: 25px; */
  cursor: pointer;
  



}


.logo_footer {

  width: 6em;
  height: 6em;
}

ion-icon:hover {

  color: rgb(252, 236, 92);
}


.extras {

  text-align: center;

}

/* responsive */

  @media screen and (max-width:414px){
  .main {
    display: flex;
      flex-direction: column;
      row-gap: 50px;
  }

  .sub-sub{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  } 

  .sub {
    display: flex;
    flex-direction: column;
    row-gap: 950px;
  } 

  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: inherit;
    /* width: 100%; */
    /* row-gap: 950px; */
  }

  .extras{
    display: flex;
    flex-direction: column;

  /* #digest{
      display: flex;
      flex-direction: column;
  } */

  
  /* .body{
    display: flex;
      flex-direction: column;
      row-gap: 50px;
  } */
  
} 
}



 @media (max-width:768px){
  .sub-sub{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  } 


      

  
}




/* 

@media (max-width:768px){
  .card{display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;

      

  
}
}

@media (max-width:768px){
  .collab{display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      
      
      

  
}
}

@media (max-width:768px){
  .up_btn{display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      
      

  
} 
}*/
 
 